# Python - Pandas Data Processing Cheatsheet by Parijat

## Table of Contents

1. [Basic Analysis](#1)<br>
    1.1 [Creating a Test Dictionary for forum Questions](#1.1)<br>
    1.2 [Explore basic information](#1.2)<br>
    1.3 [Selecting data from dataframe](#1.3)<br>
    1.4 [Filtering a cell based on conditions (number and text filter)](#1.4)<br>
    1.5 [Filtering a cell based on conditions (DateTime Filer)](#1.5)<br>
    1.6 [Create Month Column from existing Datetime/Timestamp](#1.6)<br>
2. [Turning Data into Information](2)<br>
    2.1 [Simple Infomation Extract](#2.1)<br>
    2.2 [Joining multiple dataframe with a key](#2.2)><br>
    2.3 [Grouping on Single Column and Aggregation on Single column](#2.3)<br>
    2.4 [Grouping on Single Column and Aggregation on Multiple Columns](#2.4)<br>
    2.5 [Grouping on Multiple Column and Aggregation on Multiple Columns and Sorting](#2.5)<br>

## 1. Basic Analysis <a name="1"></a>

### <span style="color:blue"> 1.1 Creating a Test Dictionary for forum Questions </span> <a name="##1.1"></a>

In [1]:
import pandas as pd

test_data = {'course name': {0: 'A', 1: 'B', 2: 'A', 3: 'A', 4: 'B'},
 'RatingDay': {0: 1, 1: 1, 2: 2, 3: 3, 4: 2},
 'Rating': {0: 4, 1: 4.5, 2: 5, 3: 4, 4: 3.5},
 'VenueCharge': {0: 21, 1: 26, 2: 30, 3: 25, 4: 15}}

df_test = pd.DataFrame.from_dict(test_data )

df_test

  course name  RatingDay  Rating  VenueCharge
0           A          1     4.0           21
1           B          1     4.5           26
2           A          2     5.0           30
3           A          3     4.0           25
4           B          2     3.5           15

> In this section we will use a file which has a lot of reviews regarding few Udemy courses. Our Basic exercise will start from here

### <span style="color:blue"> 1.2 Explore basic information </span> <a name="1.2"></a>

In [2]:
import pandas as pd
import matplotlib
from datetime import datetime
import os #for automated cwd
from pytz import utc # This is for handling timezone
from IPython.display import display # for better display of table


filepath = os.getcwd() + '\Resources\\reviews.csv'

data = pd.read_csv(filepath, parse_dates=['Timestamp'])

In [3]:
# See the top 5 rows and structure
data.head(5)

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN

In [4]:
# total number of rows and column no
data.shape

(45000, 4)

In [5]:
# without using head you can use the folooiwng also
data.columns

Index(['Course Name', 'Timestamp', 'Rating', 'Comment'], dtype='object')

In [6]:
# Just to understand the distribution of the Rating just doing a quick histogram
data.hist('Rating', grid =0, color = "skyblue", edgecolor='darkblue', lw=2 )

## Basic command is data.hist('Rating')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x000001514E9D6EF0>]],
      dtype=object)

### <span style="color:blue">1.3 Selecting data from dataframe</span> <a name="1.3"></a>

In [7]:
# Get the overall mean
data['Rating'].mean()

4.442155555555556

In [8]:
# Get only selected column
data [['Course Name', 'Rating']].head(10)

                                         Course Name  Rating
0  The Python Mega Course: Build 10 Real World Ap...     4.0
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0
3  The Python Mega Course: Build 10 Real World Ap...     5.0
4  The Python Mega Course: Build 10 Real World Ap...     4.5
5  The Python Mega Course: Build 10 Real World Ap...     4.5
6  The Python Mega Course: Build 10 Real World Ap...     4.5
7  The Python Mega Course: Build 10 Real World Ap...     5.0
8  The Python Mega Course: Build 10 Real World Ap...     5.0
9  The Python Mega Course: Build 10 Real World Ap...     5.0

In [9]:
# Slicing the data from row 3 to 6
data.iloc[3:7]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN

In [10]:
# slicing only selected columns and selected rows
data [['Course Name', 'Rating']].iloc[1:3]

                                         Course Name  Rating
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0

In [11]:
data['Timestamp'].iloc[2]

Timestamp('2021-04-02 05:11:03+0000', tz='UTC')

### <span style="color:blue">1.4 Filtering a cell based on conditions (Number and Text filter)</span> <a name="1.4"></a>

In [12]:
# Single Condition
data[data['Rating']>=5].head(10)

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
8,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 21:58:40+00:00,5.0,NaN
9,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 20:13:27+00:00,5.0,NaN
11,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 15:25:18+00:00,5.0,No
16,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 09:38:30+00:00,5.0,NaN
22,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 05:47:51+00:00,5.0,Great course.
23,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 05:06:31+00:00,5.0,NaN
25,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 04:10:03+00:00,5.0,NaN
27,Interactive Data Visualization with Python and...,2021-04-01 03:52:44+00:00,5.0,NaN

In [13]:
# Multiple Condition
data[(data['Rating']>4) & (data['Course Name'] == 'The Complete Python Course: Build 10 Professional OOP Apps')].head(10)

,Course Name,Timestamp,Rating,Comment
31,The Complete Python Course: Build 10 Professio...,2021-04-01 01:32:52+00:00,5.0,NaN
34,The Complete Python Course: Build 10 Professio...,2021-03-31 22:53:04+00:00,5.0,NaN
43,The Complete Python Course: Build 10 Professio...,2021-03-31 19:15:25+00:00,5.0,NaN
45,The Complete Python Course: Build 10 Professio...,2021-03-31 17:23:15+00:00,5.0,NaN
101,The Complete Python Course: Build 10 Professio...,2021-03-29 21:54:00+00:00,4.5,NaN
106,The Complete Python Course: Build 10 Professio...,2021-03-29 16:07:43+00:00,5.0,NaN
119,The Complete Python Course: Build 10 Professio...,2021-03-29 12:33:06+00:00,4.5,NaN
128,The Complete Python Course: Build 10 Professio...,2021-03-28 20:07:56+00:00,5.0,NaN
148,The Complete Python Course: Build 10 Professio...,2021-03-28 08:55:52+00:00,5.0,NaN
166,The Complete Python Course: Build 10 Professio...,2021-03-27 06:30:34+00:00,5.0,NaN

In [14]:
# Get the mean value of this course
data[(data['Rating']>4) & (data['Course Name'] == 'The Complete Python Course: Build 10 Professional OOP Apps')]['Rating'].mean()

4.908831908831909

### <span style="color:blue">1.5 Filtering a cell based on conditions (DateTime Filer)</span> <a name="1.5"></a>

In [15]:
from datetime import datetime
from pytz import utc # This is for handling timezone

In [16]:
## To run it without erro you have to use parse_dates=['Timestamp'] in the read csv

data[(data['Timestamp'] >= datetime(2020,7,1, tzinfo=utc)) 
     & (data['Timestamp'] <= datetime(2020,12,31, tzinfo=utc))].head(10)

,Course Name,Timestamp,Rating,Comment
3065,Interactive Data Visualization with Python and...,2020-12-30 23:28:34+00:00,3.0,NaN
3066,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:59:02+00:00,4.0,NaN
3067,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:40:10+00:00,4.5,NaN
3068,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:56:41+00:00,4.5,NaN
3069,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:14:34+00:00,4.5,NaN
3070,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:09:16+00:00,5.0,NaN
3071,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 20:58:29+00:00,5.0,NaN
3072,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 20:09:33+00:00,5.0,NaN
3073,Python for Beginners with Examples,2020-12-30 19:30:23+00:00,5.0,NaN
3074,Data Processing with Python,2020-12-30 19:02:30+00:00,4.0,NaN

### <span style="color:blue">1.6 Create Month Column from existing Datetime/Timestamp </span> <a name="1.6"></a>

In [17]:

data['Report Month'] = data['Timestamp'].dt.date

data.head(5)

,Course Name,Timestamp,Rating,Comment,Report Month
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN,2021-04-02
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN,2021-04-02
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN,2021-04-02
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN,2021-04-02
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN,2021-04-02

# 2. Turning Data into Information <a name="2"></a>

###   <span style="color:blue"> 2.1 Simple Infomation Extract </span><a name="2.1"></a>

#### Avg Rating

In [18]:
print('Avg Rating for all courses: ', data['Rating'].mean())

Avg Rating for all courses:  4.442155555555556

#### Avg Rating for a particular course

In [19]:
data[data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications']['Rating'].mean()

4.477270180942244

#### Avg rating for a particular period

In [20]:
data[ (data['Timestamp'] >= datetime(2020,1,1, tzinfo=utc)) 
     & (data['Timestamp'] <= datetime(2020,12,31, tzinfo=utc))]['Rating'].mean()

4.476541271662339

#### Avg rating for a particular period for a particular course

In [21]:
data[ (data['Timestamp'] >= datetime(2020,1,1, tzinfo=utc)) 
     & (data['Timestamp'] <= datetime(2020,12,31, tzinfo=utc)) 
     & (data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]['Rating'].mean()

4.506076089208037

#### Avg of commented vs uncommented ratings

In [22]:
comm_rating = data[data['Comment'].isnull()]['Rating'].mean()
uncomm_rating = data[data['Comment'].notnull()]['Rating'].mean()

print(' Avg Commented Rating :', comm_rating, '\n', 'Avg Uncommented Rating :', uncomm_rating)

 Avg Commented Rating : 4.433679746603492
 Avg Uncommented Rating : 4.489777908515959

#### Number of Commented Ratings and Number of uncommented Ratings

In [23]:
comm_rating = data[data['Comment'].isnull()]['Rating'].count()
uncomm_rating = data[data['Comment'].notnull()]['Rating'].count()

print(' Count Commented Rating :', comm_rating, '\n', 'Count Uncommented Rating :', uncomm_rating)

 Count Commented Rating : 38201
 Count Uncommented Rating : 6799

#### Number of comments containing a certain word and their average rating

In [24]:
Total_count = data[data['Comment'].str.contains('accent', na= False)]['Rating'].count()
Avg = data[data['Comment'].str.contains('accent', na= False)]['Rating'].mean()

print(' No of comment that has accent in the conent', Total_count, '\n', 'Avg rating of such comments :', Avg)

 No of comment that has accent in the conent 77
 Avg rating of such comments : 3.8636363636363638

###   <span style="color:blue"> 2.2 Joining multiple dataframe with a key</span><a name="2.2"></a>

> Good Link to learn more about merge, join could be found here [Pandas Dataframe Joining][an_awesome_website_link] is awesome.

[an_awesome_website_link]: https://www.datacamp.com/community/tutorials/joining-dataframes-pandas?

In [25]:
# Total No of Ratings per course

Count_by_course = data.groupby(['Course Name'])['Rating'].count().reset_index(name='Total Count')
#print(Count_by_course)
Count_by_course.style

In [26]:
# Avg Rating per course 

Rating_by_course = data.groupby(['Course Name'])['Rating'].mean().reset_index(name='AVG Rating')
#print(Rating_by_course)
Rating_by_course.style

In [27]:
Rating_by_course.columns

Index(['Course Name', 'AVG Rating'], dtype='object')

In [28]:
# Final Joins 
Final_Output = pd.merge(Rating_by_course, Count_by_course, on = 'Course Name', how ='inner')

#print(Final_Output)
Final_Output.style

In [29]:
# Good way to display

# importing the modules
from IPython.display import display

# display(Final_Output) # One way

Final_Output.style #Better way

###   <span style="color:blue">2.3 Grouping on Single Column and Aggregation on Single column</span><a name="2.3"></a>

In [30]:
multi_aggree_single_clm =  data.groupby('Course Name').agg({'Rating' : ['mean', 'count','max', 'min']})


# Applying multiple aggregation functions to a single column will result in a multiindex. 
# Working with multi-indexed columns is a pain and I’d recommend flattening this after aggregating by renaming 
#the new columns.

# rename columns
multi_aggree_single_clm.columns = ['AVG Rating', 'Total Rating', 'Max Rating', 'Min Rating']

# reset index to get grouped columns back
multi_aggree_single_clm = multi_aggree_single_clm .reset_index()

#print(multi_aggree_single_clm)

multi_aggree_single_clm .style

### <span style="color:blue">2.4 Grouping on Single Column and Aggregation on Multiple Columns</span><a name="2.4"></a>

In [31]:
multi_aggree_multiple_clm =  data.groupby(['Course Name']).agg({'Rating' : ['mean', 'count','max', 'min'], 'Comment' : 'count'})


# Applying multiple aggregation functions to a single column will result in a multiindex. 
# Working with multi-indexed columns is a pain and I’d recommend flattening this after aggregating by renaming 
#the new columns.

# rename columns
multi_aggree_multiple_clm.columns = ['AVG Rating', 'Total Rating', 'Max Rating', 'Min Rating', 'Total Comment']

# reset index to get grouped columns back
multi_aggree_multiple_clm = multi_aggree_multiple_clm.reset_index()

#print(multi_aggree)

multi_aggree_multiple_clm.style

### <span style="color:blue">2.5 Grouping on Multiple Column and Aggregation on Multiple Columns and Sorting</span><a name="2.5"></a>

In [32]:
multi_grp =  data.groupby(['Course Name', 'Report Month']).agg({'Rating' : ['mean', 'count','max', 'min'], 'Comment' : 'count'})

# rename columns
multi_grp.columns = ['AVG Rating', 'Total Rating', 'Max Rating', 'Min Rating', 'Total Comment']

# reset index to get grouped columns back
multi_grp = multi_grp .reset_index()


#Sorting by course name and month
multi_grp.sort_values(by=['Course Name', 'Report Month'])



multi_grp.head(10)

,Course Name,Report Month,AVG Rating,Total Rating,Max Rating,Min Rating,Total Comment
0,100 Python Exercises I: Evaluate and Improve Y...,2018-01-01,4.833333,3,5.0,4.5,0
1,100 Python Exercises I: Evaluate and Improve Y...,2018-01-02,4.333333,3,5.0,3.0,1
2,100 Python Exercises I: Evaluate and Improve Y...,2018-01-04,4.000000,1,4.0,4.0,0
3,100 Python Exercises I: Evaluate and Improve Y...,2018-01-05,4.250000,2,4.5,4.0,1
4,100 Python Exercises I: Evaluate and Improve Y...,2018-01-06,5.000000,3,5.0,5.0,1
5,100 Python Exercises I: Evaluate and Improve Y...,2018-01-07,3.000000,1,3.0,3.0,0
6,100 Python Exercises I: Evaluate and Improve Y...,2018-01-08,4.000000,3,5.0,2.0,1
7,100 Python Exercises I: Evaluate and Improve Y...,2018-01-09,3.333333,3,4.0,2.0,0
8,100 Python Exercises I: Evaluate and Improve Y...,2018-01-11,5.000000,1,5.0,5.0,0
9,100 Python Exercises I: Evaluate and Improve Y...,2018-01-12,4.666667,3,5.0,4.5,2